package main

import (
	"{{ .VCS }}/{{ .User }}/{{ .Project }}/db"
	"{{ .VCS }}/{{ .User }}/{{ .Project }}/server"
)

// main ...
func main() {
	database := db.Connect()
	s := server.Setup(database)
	s.Run(":8080")
}
