package controllers

import (
	"net/http"
	"strings"

	dbpkg "{{ .ImportDir }}/db"
	"{{ .ImportDir }}/helper"
	"{{ .ImportDir }}/models"
	"{{ .ImportDir }}/version"

	"github.com/gin-gonic/gin"
)

func Get{{ pluralize .Model.Name }}(c *gin.Context) {
	ver, err := version.New(c)

	if err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	ids := c.DefaultQuery("ids", "")
	preloads := c.DefaultQuery("preloads", "")
	fields := helper.ParseFields(c.DefaultQuery("fields", "*"))
	queryFields := helper.QueryFields(models.{{ .Model.Name }}{}, fields)

	pagination := dbpkg.Pagination{}
	db, err := pagination.Paginate(c)

	if err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	db = dbpkg.SetPreloads(preloads, db)

	if ids != "" {
		db = db.Where("id IN (?)", strings.Split(ids, ","))
	}

	var {{ pluralize (toLowerCamelCase .Model.Name) }} []models.{{ .Model.Name }}
	if err := db.Select(queryFields).Find(&{{ pluralize (toLowerCamelCase .Model.Name) }}).Error; err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	// paging
	var index int
	if len({{ pluralize (toLowerCamelCase .Model.Name) }}) < 1 {
		index = 0
	} else {
		index = int({{ pluralize (toLowerCamelCase .Model.Name) }}[len({{ pluralize (toLowerCamelCase .Model.Name) }})-1].ID)
	}

	if err := pagination.SetHeaderLink(c, index); err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	if version.Range("1.0.0", "<=", ver) && version.Range(ver, "<", "2.0.0") {
		// conditional branch by version.
		// 1.0.0 <= this version < 2.0.0 !!
	}

	fieldMaps := []map[string]interface{}{}
	for _, {{ toLowerCamelCase .Model.Name }} := range {{ pluralize (toLowerCamelCase .Model.Name) }} {
		fieldMap, err := helper.FieldToMap({{ toLowerCamelCase .Model.Name }}, fields)

		if err != nil {
			c.JSON(400, gin.H{"error": err.Error()})
			return
		}

		fieldMaps = append(fieldMaps, fieldMap)
	}

	_, ok := c.GetQuery("pretty")
	if ok {
		c.IndentedJSON(200, fieldMaps)
	} else {
		c.JSON(200, fieldMaps)
	}
}

func Get{{ .Model.Name }}(c *gin.Context) {
	ver, err := version.New(c)
	if err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	id := c.Params.ByName("id")
	preloads := c.DefaultQuery("preloads", "")
	fields := helper.ParseFields(c.DefaultQuery("fields", "*"))
	queryFields := helper.QueryFields(models.{{ .Model.Name }}{}, fields)

	db := dbpkg.DBInstance(c)
	db = dbpkg.SetPreloads(preloads, db)

	var {{ toLowerCamelCase .Model.Name }} models.{{ .Model.Name }}
	if err := db.Select(queryFields).First(&{{ toLowerCamelCase .Model.Name }}, id).Error; err != nil {
		content := gin.H{"error": "{{ toSnakeCase .Model.Name }} with id#" + id + " not found"}
		c.JSON(404, content)
		return
	}

	if version.Range("1.0.0", "<=", ver) && version.Range(ver, "<", "2.0.0") {
		// conditional branch by version.
		// 1.0.0 <= this version < 2.0.0 !!
	}

	fieldMap, err := helper.FieldToMap({{ toLowerCamelCase .Model.Name }}, fields)

	if err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	_, ok := c.GetQuery("pretty")
	if ok {
		c.IndentedJSON(200, fieldMap)
	} else {
		c.JSON(200, fieldMap)
	}
}

func Create{{ .Model.Name }}(c *gin.Context) {
	ver, err := version.New(c)
	if err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	db := dbpkg.DBInstance(c)
	var {{ toLowerCamelCase .Model.Name }} models.{{ .Model.Name }}

	if err := c.Bind(&{{ toLowerCamelCase .Model.Name }}); err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	if err := db.Create(&{{ toLowerCamelCase .Model.Name }}).Error; err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	if version.Range("1.0.0", "<=", ver) && version.Range(ver, "<", "2.0.0") {
		// conditional branch by version.
		// 1.0.0 <= this version < 2.0.0 !!
	}

	c.JSON(201, {{ toLowerCamelCase .Model.Name }})
}

func Update{{ .Model.Name }}(c *gin.Context) {
	ver, err := version.New(c)
	if err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	db := dbpkg.DBInstance(c)
	id := c.Params.ByName("id")
	var {{ toLowerCamelCase .Model.Name }} models.{{ .Model.Name }}
	if db.First(&{{ toLowerCamelCase .Model.Name }}, id).Error != nil {
		content := gin.H{"error": "{{ toSnakeCase .Model.Name }} with id#" + id + " not found"}
		c.JSON(404, content)
		return
	}

	if err := c.Bind(&{{ toLowerCamelCase .Model.Name }}); err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	if err := db.Save(&{{ toLowerCamelCase .Model.Name }}).Error; err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	if version.Range("1.0.0", "<=", ver) && version.Range(ver, "<", "2.0.0") {
		// conditional branch by version.
		// 1.0.0 <= this version < 2.0.0 !!
	}

	c.JSON(200, {{ toLowerCamelCase .Model.Name }})
}

func Delete{{ .Model.Name }}(c *gin.Context) {
	ver, err := version.New(c)
	if err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	db := dbpkg.DBInstance(c)
	id := c.Params.ByName("id")
	var {{ toLowerCamelCase .Model.Name }} models.{{ .Model.Name }}
	if db.First(&{{ toLowerCamelCase .Model.Name }}, id).Error != nil {
		content := gin.H{"error": "{{ toSnakeCase .Model.Name }} with id#" + id + " not found"}
		c.JSON(404, content)
		return
	}

	if err := db.Delete(&{{ toLowerCamelCase .Model.Name }}).Error; err != nil {
		c.JSON(400, gin.H{"error": err.Error()})
		return
	}

	if version.Range("1.0.0", "<=", ver) && version.Range(ver, "<", "2.0.0") {
		// conditional branch by version.
		// 1.0.0 <= this version < 2.0.0 !!
	}

	c.Writer.WriteHeader(http.StatusNoContent)
}
