# Group {{ pluralize .Model.Name }}
Welcome to the {{ pluralize (toLower .Model.Name) }} API. This API provides access to the {{ pluralize (toLower .Model.Name) }} service.

## {{ pluralize (tolower .Model.Name) }} [/{{ pluralize (toSnakeCase .Model.Name) }}]

### Create {{ toLower .Model.Name }} [POST]

Create a new {{ toLower .Model.Name }}

+ Request {{ pluralize (toLower .Model.Name) }} (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json
    + Attributes
{{ range (requestParams .Model.Fields) }}
        + {{ .JSONName }}{{ if (apibDefaultValue .) ne "" }}: {{ apibDefaultValue . }}{{ end }} ({{ apibType . }}){{ end }}

+ Response 201 (application/json; charset=utf-8)
    + Attributes ({{ pluralize (toLower .Model.Name) }}, fixed)

### Get {{ pluralize (toLower .Model.Name) }} [GET]

Returns {{ toLower .Model.Name }} list.

+ Request {{ pluralize (toLower .Model.Name) }} (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json

+ Response 200 (application/json; charset=utf-8)
    + Attributes (array, fixed)
        + ({{ pluralize (toLower .Model.Name) }})

## {{ tolower .Model.Name }} details [/{{ pluralize (toSnakeCase .Model.Name) }}/{id}]

+ Parameters
    + id: `1` (enum[string]) - The ID of the desired {{ toLower .Model.Name }}.
        + Members
            + `1`
            + `2`
            + `3`

### Get {{ toLower .Model.Name }} [GET]

Returns {{ toLower .Model.Name }}.

+ Request {{ pluralize (toLower .Model.Name) }} (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json

+ Response 200 (application/json; charset=utf-8)
    + Attributes ({{ pluralize (toLower .Model.Name) }}, fixed)

### Update {{ toLower .Model.Name }} [PUT]

Update {{ toLower .Model.Name }}.

+ Request {{ pluralize (toLower .Model.Name) }} (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json
    + Attributes
{{ range (requestParams .Model.Fields) }}
        + {{ .JSONName }}{{ if (apibDefaultValue .) ne "" }}: {{ apibDefaultValue . }}{{ end }} ({{ apibType . }}){{ end }}

+ Response 200 (application/json; charset=utf-8)
    + Attributes ({{ pluralize (toLower .Model.Name) }}, fixed)

### Delete {{ toLower .Model.Name }} [DELETE]

Delete {{ toLower .Model.Name }}.

+ Request {{ pluralize (toLower .Model.Name) }} (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json

+ Response 204

# Data Structures
## {{ pluralize (toLower .Model.Name) }} (object)
{{ range $key, $value := .Model.Fields }}
+ {{ .JSONName }}{{ if (apibDefaultValue .) ne "" }}: {{ apibDefaultValue . }}{{ end }} ({{ apibType . }}){{ end }}
