# Group {{ pluralize .Model.Name }}
Welcome to the {{ pluralize (toOriginalCase .Model.Name) }} API. This API provides access to the {{ pluralize (toOriginalCase .Model.Name) }} service.

## {{ pluralize (toOriginalCase .Model.Name) }} [/{{ pluralize (toSnakeCase .Model.Name) }}]

### Create {{ toOriginalCase .Model.Name }} [POST]

Create a new {{ toOriginalCase .Model.Name }}

+ Request {{ toOriginalCase .Model.Name }} (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json
    + Attributes
{{ range (requestParams .Model.Fields) }}
        + {{ .JSONName }}{{ if (apibDefaultValue .) ne "" }}: {{ apibDefaultValue . }}{{ end }} ({{ apibType . }}){{ end }}

+ Response 201 (application/json; charset=utf-8)
    + Attributes ({{ toSnakeCase .Model.Name }}, fixed)

### Get {{ pluralize (toOriginalCase .Model.Name) }} [GET]

Returns {{ article (toOriginalCase .Model.Name) }} list.

+ Request (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json

+ Response 200 (application/json; charset=utf-8)
    + Attributes (array, fixed)
        + ({{ toSnakeCase .Model.Name }})

## {{ toOriginalCase .Model.Name }} details [/{{ pluralize (toSnakeCase .Model.Name) }}/{id}]

+ Parameters
    + id: `1` (enum[string]) - The ID of the desired {{ toOriginalCase .Model.Name }}.
        + Members
            + `1`
            + `2`
            + `3`

### Get {{ toOriginalCase .Model.Name }} [GET]

Returns {{ article (toOriginalCase .Model.Name) }}.

+ Request (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json

+ Response 200 (application/json; charset=utf-8)
    + Attributes ({{ toSnakeCase .Model.Name }}, fixed)

### Update {{ toOriginalCase .Model.Name }} [PUT]

Update {{ article (toOriginalCase .Model.Name) }}.

+ Request {{ toSnakeCase .Model.Name }} (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json
    + Attributes
{{ range (requestParams .Model.Fields) }}
        + {{ .JSONName }}{{ if (apibDefaultValue .) ne "" }}: {{ apibDefaultValue . }}{{ end }} ({{ apibType . }}){{ end }}

+ Response 200 (application/json; charset=utf-8)
    + Attributes ({{ toSnakeCase .Model.Name }}, fixed)

### Delete {{ toOriginalCase .Model.Name }} [DELETE]

Delete {{ article (toOriginalCase .Model.Name) }}.

+ Request (application/json; charset=utf-8)
    + Headers

            Accept: application/vnd.{{ .User }}+json

+ Response 204

# Data Structures
## {{ toSnakeCase .Model.Name }} (object)
{{ range $key, $value := .Model.Fields }}
+ {{ .JSONName }}{{ if (apibDefaultValue .) ne "" }}: {{ apibDefaultValue . }}{{ end }} ({{ apibType . }}){{ end }}
