# API Server

Simple Rest API using gin(framework) & gorm(orm)

## Endpoint list
{{ range .Models }}
### {{ pluralize .Name }} Resource

```
GET    {{ if ($.Namespace) ne "" }}/{{ $.Namespace }}{{ end }}/{{ pluralize (tolower .Name) }}
GET    {{ if ($.Namespace) ne "" }}/{{ $.Namespace }}{{ end }}/{{ pluralize (tolower .Name) }}/:id
POST   {{ if ($.Namespace) ne "" }}/{{ $.Namespace }}{{ end }}/{{ pluralize (tolower .Name) }}
PUT    {{ if ($.Namespace) ne "" }}/{{ $.Namespace }}{{ end }}/{{ pluralize (tolower .Name) }}/:id
DELETE {{ if ($.Namespace) ne "" }}/{{ $.Namespace }}{{ end }}/{{ pluralize (tolower .Name) }}/:id
```
{{ end }}
server runs at http://localhost:8080
