package controllers

import (
	"net/http"

	"github.com/USERNAME/APISERVER/db"
	"github.com/USERNAME/APISERVER/models"

	"github.com/gin-gonic/gin"
)

func Get{{ pluralize .Name }}(c *gin.Context) {
	db := db.DBInstance(c)
	fields := c.DefaultQuery("fields", "*")
	var {{ pluralize (tolower .Name) }} []models.{{ .Name }}
	db.Select(fields).Find(&{{ pluralize (tolower .Name) }})
	c.JSON(200, {{ pluralize (tolower .Name) }})
}

func Get{{ .Name }}(c. *gin.Context) {
	db := db.DBInstance(c)
	id := c.Params.ByName("id")
	fields := c.DefaultQuery("fields", "*")
	var {{ tolower .Name }} models.{{ .Name }}
	err := db.Select(fields).First(&{{ tolower .Name }}, id).Error

	if err != nil {
		content := gin.H{"error": "{{ tolower .Name }} with id#" + id + " not found"}
		c.JSON(404, content)
		return
	}

	c.JSON(200, {{ tolower .Name }})
}

func Create{{ .Name }}(c *gin.Context) {
	db := db.DBInstance(c)
	var {{ tolower .Name }} models.{{ .Name }}
	c.Bind(&{{ tolower .Name }})
	if db.Create(&{{ tolower .Name }}).Error != nil {
		content := gin.H{"error": "error occured"}
		c.JSON(500, content)
		return
	}
	c.JSON(201, {{ tolower .Name }})
}

func Update{{ .Name }}(c *gin.Context) {
	db := db.DBInstance(c)
	id := c.Params.ByName("id")
	var {{ tolower .Name }} models.{{ .Name }}
	if db.First(&{{ tolower .Name }}, id).Error != nil {
		content := gin.H{"error": "{{ tolower .Name }} with id#" + id + " not found"}
		c.JSON(404, content)
		return
	}
	c.Bind(&{{ tolower .Name }})
	db.Save(&{{ tolower .Name }})
	c.JSON(200, {{ tolower .Name }})
}

func Delete{{ .Name }}(c *gin.Context) {
	db := db.DBInstance(c)
	id := c.Params.ByName("id")
	var {{ tolower .Name }} models.{{ .Name }}
	if db.First(&{{ tolower .Name }}, id).Error != nil {
		content := gin.H{"error": "{{ tolower .Name }} with id#" + id + " not found"}
		c.JSON(404, content)
		return
	}
	db.Delete(&{{ tolower .Name }})
	c.Writer.WriteHeader(http.StatusNoContent)
}
