package router

import (
	"{{ .VCS }}/{{ .User }}/{{ .Project }}/controllers"

	"github.com/gin-gonic/gin"
)

func Initialize(r *gin.Engine) {
	api := r.Group("{{ .Namespace }}")
	{
		//Auto Generate
	}
}
